.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #de8229;
  color: #f6f6f6;
  padding: 0 60px;
  font-family: 'Acumin';
}

.nav h1,
.nav h5 {
  margin: 12px 0px;
}

.nav-title,
.nav-menu,
.nav-social {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-social {
  justify-content: end;
}
.nav-menu-small-wrap {
  max-height: 200px; /* Establece una altura suficientemente grande */
  overflow: hidden;
  transition: max-height 0.3s ease; /* Aplica la transición */
}





/* .nav-title{
  align-items: baseline;
} */
.nav-title img {
  height: 4vw;
  margin: 0 0;
}

.nav-title h1 {
  font-size: 2vw;
}

.nav-menu h5,
.nav-menu h5 {
  font-size: 1.5vw;
  transition: transform 0.3s;
}

.nav-menu h5:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav-title img {
  max-height: 50px;
}

.nav-social i,
.social-media-icons,
.social-footer {
  font-size: 1.5vw;
  transition: transform 0.3s;
}

.nav-social i:hover,
.social-media-icons:hover,
.social-footer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.social-media-icons i {
  background-color: #fcdbb8;
  padding: 10px;
  border-radius: 25px;
}

.nav-collapse {
  display: none;
}

.nav-divider {
  border: 0;
  height: 1px;
  background: #f6f6f6;
  margin: 10px 0;
}

.nav-collapse i {
  font-size: 20px;
}

.nav-collapse i:hover {
  cursor: pointer;
}

.btn-purple {
  background: rgb(117, 57, 207);
  background: linear-gradient(180deg, rgba(117, 57, 207, 1) 0%, rgba(124, 99, 193, 1) 50%, rgba(152, 150, 196, 1) 100%);
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 20px;
  color: #fcfefc;
  border-radius: 25px;
  padding: 7px 3px 5px 3px;
}

.btn-purple:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fcfefc;
}

#services,
#map {
  margin: 50px 60px 40px 60px;
}

#map {
  background-color: #f69e4f;
}

#about-us {
  margin: 40px 0px 40px 0px;
  padding: 35px;
  background: rgb(252, 219, 184);
  background: linear-gradient(159deg, rgba(252, 219, 184, 1) 0%, rgba(252, 234, 214, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

#footer {
  border-top: 1px solid #8a898e;
  color: #4c4c4c;
  margin: 50px 0px 40px 0px;
  padding: 20px 80px;
}

#sub-footer {
  background-color: #4c4c4c;
  padding: 15px 0;
  text-align: center;
  color: #f6f6f6;
}

.service-card {
  /* display: flex; */
  /* align-items: center;
  text-align: center; */
  border-radius: 20px;
  font-weight: bold;
}

.service-card.big,
.service-card.medium {
  background-size: cover;
  color: #fefefe;

}

.service-card.big {
  display: flex;
  align-items: center;
  background-image: url("images/ducha.jpeg");
  padding: 30px 35px;
}

.service-card.small {
  background-color: #f5a45a;
  padding: 30px 45px 30px 35px;
  color: #050000;
}

.service-card.medium {
  background-color: #de8229;
  padding: 50px 45px 50px 45px;
  background-image: url("images/ducha.jpeg");
}

#map p {
  font-size: 24px;
  font-family: 'Acumin';
}

#map i {
  font-size: 24px;
}

.selection-card {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  border-radius: 25px;
}

.selection-card:hover {
  cursor: pointer;
}

.selection-card.selected {
  border: 2px solid rgba(152, 150, 196, 1);
}

.card-image {
  border-radius: 25px;
}

.toggle {
  background: #eee;
  width: 100px;
  height: 50px;
  padding: 5px;
  border-radius: 50px;
  margin: 50px;
}

label {
  width: 40px;
  height: 40px;
  background: #ccc;
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.25s ease 0s;
}

input {
  display: none;
}

input:checked+label {
  margin-left: 50px;
  background: #47c;
}

.toggle:before,
.toggle:after {
  content: "1";
  position: absolute;
  font-size: 12px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  z-index: 0;
  color: #47c;
}

.toggle:after {
  content: "6";
  margin-top: -40px;
  margin-left: 50px;
  color: #666;
}

label {
  position: relative;
  z-index: 1;
}

.price {
  color: #de8229;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #map {
    margin: 50px 0px 40px 0px;
  }

  .nav-menu,
  .nav-social {
    display: none;
  }

  .nav-collapse {
    display: flex;
  }

  .nav h1 {
    font-size: 4vw;
    /* Ajustando el tamaño de la fuente para dispositivos más pequeños */
  }

  .nav-collapse i,
  .nav-menu-small h5 {
    font-size: 2vw;
    transition: transform 0.3s;
  }

  .nav-collapse i:hover,
  .nav-menu-small h5:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .nav i {
    font-size: 3vw;
  }
}
