.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #de8229;
  color: #f6f6f6;
  padding: 0 60px;
}
.nav-title,
.nav-menu,
.nav-social{
  display: flex;
  align-items: center;
}
.nav-menu{
  justify-content: space-between;
}
.nav-social{
  justify-content: end;
}

.nav-title h1{
  font-size: 24px;
}
.nav-title img{
  max-height: 50px;
}
.nav-social i{
  font-size: 32px;
}
