@font-face {
  font-family: Acumin;
  src: url("fonts/Acumin-RPro.otf") format("opentype");
}

@font-face {
  font-family: Acumin-bold;
  font-weight: bold;
  src: url("fonts/Acumin-BdPro.otf") format("opentype");
}

body {
  margin: 0;
  font-family: 'Acumin-bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
